<style>

.placeholder{
    color: orange;
}

body{
    background-image: url("../images/football.jpg")
}

#game{
    background-color: white;
    width: 400px;
    margin: 0 auto;
}

h2{
    color: brown;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

#quizContent{
    font-weight: bold;
    line-height: 21px;
    padding: 3px;
}

#timer{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

#submit{
    background-color: green;
    color: white;
    padding: 3px;
    border: 2px solid black;
    margin-bottom: 10px;
    margin-left: 170px;
}
</style>